name: CI
"on":
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

permissions:
  contents: read
  id-token: write

jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - --delete-- 20.11.*
          - --delete-- 20.12.0
          - --delete-- 20.12.2
          - --delete-- 20.13.0
          - --delete-- 20.13.1
          - --delete-- 20.14.0
          - --delete-- 20.15.0
          - --delete-- 20.15.1
          - --delete-- 20.16.0
          - --delete-- 22.1.0
          - --delete-- 22.2.0
          - --delete-- 22.3.0
          - --delete-- 22.4.0
          - --delete-- 22.4.1
          - --delete-- 22.5.0
          - --delete-- 22.5.1
          - --delete-- 22.6.0
          - --delete-- 22.7.0
          - --delete-- 22.8.0
          - --delete-- 22.9.0
          - --delete-- 22.10.0
          - --delete-- 22.11.0
          - --delete-- 22.12.0
          - --delete-- 22.13.0
          - --delete-- 22.13.1
          - --delete-- 22.14.0
          - --delete-- 22.15.0
          - --delete-- 22.15.1
          - --delete-- 22.16.0
          - --delete-- 22.17.0
          - --delete-- 22.17.1
          - --delete-- 22.18.0
          - --delete-- 22.19.0
          - --delete-- 22.20.0
          - --delete-- 24.0.0
          - --delete-- 24.0.1
          - --delete-- 24.0.2
          - --delete-- 24.1.0
          - --delete-- 24.2.0
          - --delete-- 24.3.0
          - --delete-- 24.4.0
          - --delete-- 24.4.1
          - --delete-- 24.5.0
          - --delete-- 24.6.0
          - --delete-- 24.7.0
          - --delete-- 24.8.0
          - --delete-- 24.9.0
          - --delete-- 24.11.0
          - 24.11.0
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: "package-lock.json"
      - name: install
        run: npm ci
      - name: test and coverage
        run: npm run cover --if-present
      - name: coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
        continue-on-error: true
  release:
    needs:
      - test-node
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.0
          cache: npm
          cache-dependency-path: "package-lock.json"
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: 'true'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
